html {
	scroll-behavior: smooth;
	background-color: white;
}

body {
	margin: 0;
}

h1 {
	font-size: 4em;
	color: #283133;
	font-family: 'Allerta Stencil', sans-serif;
	letter-spacing: 1em;
}

h2 {
	font-size: 3em;
	color: #283133;
	font-family: 'Allerta Stencil', sans-serif;
}

h3 {
	font-size: 2em;
	color: #283133;
	font-family: 'Allerta Stencil', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
	font-family: 'Big Shoulders Text', sans-serif;
	font-size: 1.5em;
}

@media only screen and (max-width: 900px) {
	h2 {
		font-size: 2em;
	}

	p {
		font-size: 1em;
	}
}

.titleImage {
	min-height: 100%;
	width: 100%;
	position: absolute;

	background: url('Images/TitleImage.png') no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	z-index: -1;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 2% 3%;
	align-items:
}

.title {
	display: inline;
	font-size: 2em;
	font-family: 'Allerta Stencil', sans-serif;
	font-weight: bolder;
	letter-spacing: .1em;
	color: white;
	margin: 0;
	transition: color .3s;
}

.title:hover {
  color: #ffffff88;
  cursor: pointer;
}

.headerItem {
	display: inline;
  font-size: 1.5em;
	font-family: 'Allerta Stencil', sans-serif;
  color: white;
  letter-spacing: .2em;
  margin-left: 1em;

	transition: color .3s;
}

.headerItem:hover {
  color: #ffffff88;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
	.header {
		flex-direction: column;
		justify-content: center;
	}

	.title {
		justify-content: center;
		text-align: center;
		font-size: 1.5em;
	}

	.headerItems {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		padding: 1em;
		align-items: center;
	}

	.headerItem {
		padding: .25em;
	  font-size: 1em;
		margin: 0;
	}
}

.content {
	position: absolute;
	width: 100%;
	top: 100%;
}

.container {
	width: 90%;
	margin: 0;
	background-color: white;
	padding: 5% 5% 5%;
}

.sectionRight {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sectionLeft {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	direction: rtl;
}

.headlineLeft {
	flex-grow: 0;
	text-align: center;
}

.headlineRight {
	flex-grow: 0;
	text-align: center;
	direction: ltr;
}

.sectionParagraph {
	flex-grow: 2;
	text-align: justify;
	margin: 0;
	direction: ltr;
}

@media only screen and (min-width: 900px)  {
	.container {
		width: 50%;
		padding: 5% 25% 5%;
	}

	.sectionRight {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.sectionLeft {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.headlineLeft {
		margin: 0;
		margin-right: 1em;
	}

	.headlineRight {
		margin: 0;
		margin-left: 1em;
	}
}

.divider {
	height: 2px;
	background-color: #283133;
	margin: 3em 1em;
}

.footer {
	display: block;
	height: auto;
	background-color: white;
	margin: 0;
	padding: 2em;
}

.footerText {
	font-size: 1em;
	color: #283133;
	margin: 0;
	text-align: center;
}

.callToAction {
  text-align: center;
	background-color: white;
  font-size: 32px;
}

.centerText {
  text-align: center;
  font-size: 24px;
}

.footerText:hover {
	  color: #28313385;
	  cursor: pointer;
}

@media only screen and (max-width: 900px)  {
	.centerText {
		font-size: 1em;
	}

	.callToAction {
		font-size: 1.3em;
	}
}

.projectsButton {
	display: flex;
	justify-content: center;
	margin-top: 8em;
	transition: color .3s;
}

.projectsButton h3 {
	display: inline-block;
	background-color: #283133;
	letter-spacing: .5em;
	color: white;
	margin: 0;
	padding: 1em 2em;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-color: #283133;
	transition: color .5s ease,
							background-color .5s ease;
}

.projectsButton h3:hover {
	cursor: pointer;
	background-color: white;
	color: #283133;
}

@media only screen and (max-width: 900px)  {

	.projectsButton {
		margin-top: 3em;
	}

	.projectsButton h3 {
		font-size: .8em;
	}
}
