html {
	scroll-behavior: smooth;
}

body {
	background-color: #f7f5f2;
	margin: 0;
}

h1 {
	font-size: 3em;
	color: #283133;
	font-family: 'Allerta Stencil', sans-serif;
	letter-spacing: .5em;
	margin: 1em;
}

h2 {
  margin: 0;
  font-size: 2em;
  font-family: 'Allerta Stencil', sans-sans-serif;
}

h3 {
  margin: 0;
  font-size: 1.5em;
  font-family: 'Big Shoulders Text', sans-sans-serif;
}

p {
  font-family: 'Big Shoulders Text', sans-serif;
	font-size: 1.5em;
	text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 900px) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

	p {
		font-size: 1em;
	}
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 2% 3%;
	align-items:
}

.title {
	display: inline;
	font-size: 2em;
	font-family: 'Allerta Stencil', sans-serif;
	font-weight: bolder;
	letter-spacing: .1em;
	color: #283133;
	margin: 0;
	transition: color .3s;
}

.title:hover {
  color: #28313385;
  cursor: pointer;
}

.headerItem {
	display: inline;
  font-size: 1.5em;
	font-family: 'Allerta Stencil', sans-serif;
  color: #283133;
  letter-spacing: .2em;
  margin-left: 1em;

	transition: color .3s;
}

.headerItem:hover {
  color: #28313385;
  cursor: pointer;
}

.welcomeImage {
	width: 100%;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

@media only screen and (max-width: 900px) {
	.header {
		flex-direction: column;
		justify-content: center;
	}

	.title {
		justify-content: center;
		text-align: center;
		font-size: 1.5em;
	}

	.headerItems {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		padding: 1em;
		align-items: center;
	}

	.headerItem {
		padding: .25em;
		font-size: 1em;
		margin: 0;
	}
}

.imprintContainer {
  display: block;
  background-color: white;
  padding: 2em 25%;
}

@media only screen and (max-width: 900px) {
	.imprintContainer {
		padding: 5% 5% 5%;
	}
}

.centerText {
  text-align: center;
}
